# Archivos de configuración de usuario y temporales
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de caché de Visual Studio
.vs/
.vscode/

# Archivos de construcción de SSIS
bin/
obj/
Backup/

# Archivos de implementación y paquetes compilados
*.ispac
*.dtproj.user
*.deployproj
*.log

# Archivos de configuración de SSIS
*.dtproj.vspscc
*.dtsx.vspscc

# Archivos temporales
*.tmp
*.log
